.contenedor{
    background-color: azure;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    
}